// color palette
$theme-color-main: #2681FF;
$white: #FFF;
$grey: #999;
$deep-grey: #666;
$red: #DD302D;
$yellow: #f6ca7a;
$purple: #a3b4e7;

$h-line: #E5E5E5;
$font-color-main: #333;
$font-color-sub: #666;
$line1: #333;

// home page
$system-score-gradient-start: #CCD7EF;
$system-score-gradient-end: #FFF;