@use "../abstracts/variables";
@use "../abstracts/mixin";

body {
    margin: 0;
    padding: 0;
    background-color: variables.$theme-color-main;
    @include mixin.flex-center(column, flex-start, center);
}

.login-welcome {
    margin-top: 80px;
    font-size: 20px;
    color: variables.$white;
}

.login-title {
    margin-top: 10px;
    font-size: 40px;
    color: variables.$white;
}

.line {
    height: 5px;
    width: 40px;
    background-color: variables.$yellow;
    border-radius: 2.5px;
}

.login-container {
    margin-top: 20px;
    padding-top: 20px;
    width: 93%;
    height: 300px;
    background-color: variables.$white;
    border-radius: 20px;
    @include mixin.flex-center(column, flex-start, center);

    .login-form {
        width: 100%;
        @include mixin.flex-center(column, flex-start, center);
    }

    .account,
    .password {
        margin-top: 23px;
        width: calc(90% - 20px);
        /* 消除添加 padding-left 后宽度改变问题*/
        height: 48px;
        border: 0;
        font-size: 16px;
        border-radius: 24px;
        padding-left: 20px;

        &::placeholder {
            color: variables.$purple;
        }
    }

    .login-button {
        margin-top: 40px;
        margin-left: auto;
        /* 修改为自动 */
        margin-right: auto;
        /* 添加右边距自动 */
        width: 60%;
        height: 40px;
        border: 0;
        border-radius: 20px;
        background-color: variables.$theme-color-main;
        color: variables.$white;
        font-size: 16px;
    }

    .resigner-forget {
        margin-top: 20px;
        width: 170px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        & .resigner-button a {
            height: 40px;
            border: 0;
            font-size: 16px;
            color: variables.$theme-color-main;
        }

        & .forget-button a {
            height: 40px;
            border: 0;
            font-size: 16px;
            color: variables.$grey;
        }
    }
}

.v-line {
    height: 20px;
    width: 1px;
    background-color: variables.$grey;
}